name: Build TPU Mac

on:
  push:
    branches: [ main, test-github-action ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install signing certificate
        run: |
          CERT_PATH=$RUNNER_TEMP/dev_cert.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/build.keychain-db

          echo "$MACOS_CERT_BASE64" | base64 --decode > $CERT_PATH

          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          security import $CERT_PATH -P "$MACOS_CERT_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychains -d user -s $KEYCHAIN_PATH

        env:
          MACOS_CERT_BASE64: ${{ secrets.MACOS_CERT_BASE64 }}
          MACOS_CERT_PASSWORD: ${{ secrets.MACOS_CERT_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}

      - name: Build app
        run: |
          xcodebuild \
            -project TPU_Mac.xcodeproj \
            -scheme TPU_Mac \
            -configuration Debug \
            -destination 'platform=macOS' \
            CODE_SIGN_STYLE=Manual \
            CODE_SIGN_IDENTITY="Apple Development" \
            build

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: build/**/*.app
